<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Widget Edit</title>
</head>
<body>

<div class="navbar navbar-fixed-top ng-pagenav">
    <div class="navbar-header pull-left">
        <a class="navbar-brand glyphicon glyphicon-chevron-left" href="widget-list.view.client.html"></a>
        <a class="navbar-brand" href="#">Widget Edit</a>
    </div>
</div>

<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"
           placeholder="https://i.kinja-img.com/gawker-media/image/upload/s--kQW-rqr0--/c_scale,fl_progressive,q_80,w_800/peyikndaxktdvxzynsb5.jpg"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control"
           placeholder="100%"/>

    <label for="file">File Upload</label>
    <input id="file"
           multiple
           type="file"
           class="form-control"/>

    <a class="btn btn-danger btn-block" href="widget-list.view.client.html">Delete</a>

</div>

<div class="navbar navbar-fixed-bottom ng-pagenav">
    <div class="navbar-header pull-right">
        <a class="navbar-brand glyphicon glyphicon-user" href="../../user/templates/profile.view.client.html"></a>
    </div>
</div>

</body>
</html>