<div ng-class="wd-widget-list">
    <div class="navbar navbar-fixed-top ng-pagenav">
        <div class="navbar-header pull-left">
            <a class="navbar-brand glyphicon glyphicon-chevron-left" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"></a>
            <a class="navbar-brand" href="#">Widget Chooser</a>
        </div>
    </div>

<div class="container-fluid">

    <div ng-repeat="widget in model.widgets"
         class="wd-widget">
        <div class="wd-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>
        <!--<div ng-switch="widget.widgetType">-->
            <!--<div ng-switch-when="HEADING">-->
                <!--<div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="IMAGE">-->
                <!--<div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="HTML"-->
                 <!--ng-bind-html="model.trustThisContent(widget.text)">-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--<div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

    <div ng-include="'views/common/footer.view.client.html'"></div>

    <div class="navbar navbar-fixed-bottom ng-pagenav">
        <div class="navbar-header pull-right">
            <a class="navbar-brand glyphicon glyphicon-user" href="#!/user/{{model.userId}}"></a>
        </div>
    </div>

</div>