<div class="navbar navbar-fixed-top ng-pagenav">
    <div class="navbar-header pull-left">
        <a class="navbar-brand glyphicon glyphicon-chevron-left" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"></a>
        <a class="navbar-brand" href="#">New Page</a>
    </div>
    <div class="navbar-header pull-right">
        <a ng-click="model.newPage(model.page)"
           class="navbar-brand glyphicon glyphicon-ok" ></a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-6">
                            Page Name
                        </div>
                        <div class="col-lg-1 col-md-2 pull-right">
                            <a class="glyphicon glyphicon-plus"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new"
                               style="color: #fff;"></a>
                        </div>
                    </div>
                </li>


                <li ng-repeat="pages in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-6">
                            <a href="../../page/templates/page-list.view.client.html">
                                {{pages.name}}
                            </a>
                        </div>

                        <div class="col-lg-1 col-md-2 pull-right">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">
            <label for="name">Name</label>
            <input id="name"
                   ng-model="page.name"
                   class="form-control"/>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="page.description"
                      rows="5"
                      class="form-control"></textarea>

            <a ng-click="model.createPage(model.websiteId, model.page)"
               class="btn btn-block btn-success">
                Create
            </a>

        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom ng-pagenav">
    <div class="navbar-header pull-right">
        <a class="navbar-brand glyphicon glyphicon-user" href="#!/user/{{model.userId}}"></a>
    </div>
</div>